
$breakpoints: (
    'x-small': 0,
    // Mobile (default)
    'small': 576px,
    // Small screens (≥576px)
    'medium': 768px,
    // Medium screens (≥768px)
    'large': 992px,
    // Large screens (≥992px)
    'x-large': 1200px,
    // Extra large screens (≥1200px)
    'xx-large': 1400px // Extra extra large screens (≥1400px)
);

$primary-color: #0876f8;
$main-text-color: #181a53;
$secondary-color: #222222;
$white-color: #fff;
$black-color: #000;
$main-text-color: #181a53;
$cdsubtitle: #585858;
$light-blue-color: #daecff;
$subtitle-color: #878787;;

//light color for bg

$light-blue: #f0f5ff